langchain
pinecone
langchain-community
langchain-milvus
langchain-openai
unstructured
docx2txt
python-pptx
pdfminer
openai
tiktoken
sentence-transformers
llama-cpp-python
llama-parse
pytesseract
pdf2image
pymilvus
elasticsearch>=8,<9
fastapi
uvicorn[standard]
nest_asyncio